body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
}
.image-section {
    flex: 1;
    background: url(https://res.cloudinary.com/dk0z4ums3/image/upload/v1636966705/attached_image/dua-sisi-memiliki-anak-tunggal-0-alodokter.jpg) 
    no-repeat center center/cover;
.form-section {
    flex: 1;
    padding: 40px;
}
.form-section h2 {
    margin-bottom: 20px;
    color: #007bff;
}